body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background: linear-gradient(45deg, #533bcd, #a364ce); /* Gradient renkleri */
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
  padding: 20px;
}

.App-header {
  
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #ffffff;
}

.App-logo {
  height: 150px;
  width: 150px;
  margin-bottom: 15px;
}

.App-title {
  font-size: 24px;
  margin-bottom: 10px;
}

.App-link {
  color: #61dafb;
  text-decoration: none;
  transition: color 0.3s ease-in-out;
}

.App-link:hover {
  color: #ff4081;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

